.header{
    display: flex;
    flex-direction: column;
    background-color: #1AC073;
    ;
}
.hd-menu{
    display: flex;
    align-items: center;
}
.What2eat{
    font-size: 32px;
    font-weight: 400;
    color: white;
    font-family: "Squada One";
    margin-left: 20px;
}
.home{
    font-size: 18px;
    color: white;
    font-weight: 400;
    margin-left: 300px;
}
.about
{
    font-size: 18px;
    color: white;
    font-weight: 400;
    margin-left: 20px;
}
.menu
{
    font-size: 18px;
    color: white;
    font-weight: 400;
    margin-left: 20px;
}
.blog{
    font-size: 18px;
    color: white;
    font-weight: 400;
    margin-left: 20px;
}
.contact{
    font-size: 18px;
    color: white;
    font-weight: 400;
    margin-left: 20px;
}
.image-search{
    width: 22px;
    height: 22px;
    margin-left: 350px;
}
.image-bag{
    width: 22px;
    height: 22px;
    margin-left: 20px;
}
.header-content{
    display: flex;
    margin-top: 100px;

}
.hero-display{
    display: flex;
    flex-direction: column;
}
.authentic{
    font-size: 70px;
    color: white;
    margin-left: 20px;
    margin-right: 50px;
}
.des{
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin-left: 20px;
    margin-right: 150px;
}
.image-cooking-man{
    width: 522px;
    height: 436px;
    margin-right: 50px;
}
.search
{
    margin-left: 20px;
    display: flex;
}
@media screen and (max-width: 1000px) {
    .header-content
    {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }
} 
.kitchen-cards{
    padding: 50px;
    display: flex;
    flex-direction: column;
}
.filter{
    width: 213px;
    height: 20px;
    margin-top: 10px;
}
.product-card{
    margin-top: 50px;
    display: flex; 
    flex-direction: column;
}
.home-price{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.homemade{
    font-weight: 400;
    font-size: 16px;
}
.price{
    font-weight: 400;
    font-size: 16px;
}
.card-rating{
    display: flex;
    align-items: center;
    margin-top: 10px;

}.image-start
{
    margin-right: 5px;
}

.img-addcard{
    margin-left: 140px;
}
.row1-product{
    display: flex;
    flex-wrap: wrap;
}
.img-pizza{
    width: 277px;
    height: 250px;
}
.percen{
    position:absolute;
}
.blog-content{
    padding: 50px;
}
.blog-left
{
    display: flex;
    flex-direction: column;
}
.img-left{
    width: 277px;
    height: 183px;
}
.img-main{
    width: 546px;
    height: 421px;
}
.img-right{
    width: 277px;
    height: 183px;
}